body {
  font-family: "popons", sans-serif;
  background-color: rgb(27, 27, 27);
  overflow-x: hidden;
}

.header {
  height: 90vh;
  position: relative;
}

.heading-tertiary {
  font-size: 3.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.menu-p {
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  height: auto;
  max-height: 50px;
  overflow-y: hidden;
}

.menu-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
}

.price {
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
  color: #da6b1d;
  text-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.4);
}

.fit-height {
  height: 20px;
  max-height: 25px;
  overflow-y: scroll;
}

.heading-primary {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.menu-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  grid-gap: 2rem;
}

.menu-container {
  height: 30rem;
  margin: 2% 4% 2% 4%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

.add_item_text {
  position: fixed;
  bottom: 0px;
  right: 28px;
}

.italicFont {
  font-family: "Brush Script MT";
  font-size: xxx-large;
}

.lead {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.navbar {
  height: 110px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 10;
  position: fixed;
}

.book-now:visited,
.book-now:link {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 4rem;
  border: 1px solid white;
  border-radius: 100px;
  transition: all 0.3s ease;
  box-shadow: 0 1rem 1rem rgba(240, 107, 55, 0.1);
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
}

.book-now:hover {
  background-color: #da6b1d;
  border: 1px solid white;
  box-shadow: 0 0 2rem rgba(240, 107, 55, 0.8);
}

.navbar-box {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.navbar-link-book:visited,
.navbar-link-book:link {
  text-decoration: none;
  color: white;
  padding: 2rem 3.5rem;
  border: 1px solid #da6b1d;
  border-radius: 200px;
  box-shadow: 0 0 1rem rgba(236, 118, 40, 0.5);
  text-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease;
}

.navbar-link-book:hover {
  background-color: #da6b1d;
  color: white;
}

.bg-dashboard {
  background-image: url("../images/bg_dashboard.jpg");
  background-size: 100% 100%;
  filter: blur(8px);
}

.warning {
  background-color: rgb(253, 253, 174);
  color: red;
}

.successful {
  background-color: rgb(181, 253, 174);
  color: green;
}

.toggle {
  height: 5rem;
  width: 5rem;
  display: none;
}

.toggle div {
  height: 4px;
  width: 100%;
  background-color: white;
  margin: 1rem;
}

.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.h4 {
  font-size: 1.7rem;
}

#restaurant {
  color: #ffffff;
  font-weight: 800;
  font-size: 8rem;
  font-family: "Satisfy", cursive;
  text-decoration: underline;
  text-transform: capitalize;
}

#mainHeading {
  color: #ffffff;
  font-weight: 800;
  font-size: 8rem;
  font-family: "Satisfy", cursive;
  text-decoration: underline;
  text-transform: none;
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-md {
  margin-bottom: 1rem;
  /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

#chooseDeliv {
  height: auto;
  max-height: 150px;
  overflow-y: scroll;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  position: fixed;
  bottom: 30px;
  right: 28px;
}

.heading-secondary {
  font-size: 7rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.menu-img {
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: left;
}

.vertical-center {
  margin: 0;
  margin-left: 4%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center !important;
}

.menu-container-food {
  /* width: 100%; */
  height: 50rem;
  margin: 2% 4% 2% 4%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.card-title {
  padding-bottom: 7%;
}

.card-text {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle:hover {
  background-color: #da6b1d;
  color: white;
}

.lightDark {
  margin-left: 50px;
  background-color: #353b48;
}

.lightDark:hover {
  background-color: black;
}

.lightGreen:hover {
  background-color: #218c74;
}

.menu {
  width: 100%;
  padding: 10rem 5rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(17, 17, 136, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
}

.menu-heading {
  font-size: 12rem;
  text-align: center;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  margin-top: -5%;
}

.menu-container:hover {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.4);
  transform: scale(1.07);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(186, 145, 56, 1) 100%
  );
}

.menu-container-food:hover {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.4);
  transform: scale(1.07);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(186, 145, 56, 1) 100%
  );
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.navbar-list {
  list-style: none;
  font-size: 2rem;
}

.navbar-item {
  display: inline-block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar-link:visited,
.navbar-link:link {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form-container .cancel {
  background-color: red;
}

input[type="text"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: medium;
  margin-left: 30%;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #2f3640;
  z-index: 9;
  border-radius: 25px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #2f3640;
  border-radius: 20px;
}
.btn-group button {
  background-color: #0b24b3; /* Green background */
  border: 1px solid  #020620; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.container,
.form__input,
.form__button {
  font: 500 1rem "Quicksand", sans-serif;
}

.form--hidden {
  display: none;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

table tbody tr th {
  font-size: 24px;
}

table tbody tr td {
  font-size: 15px;
}

.sortGradient {
  background: #ff7675;
}

.sortGradient:hover {
  background: #e17055;
}

.btn-huge {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
}

#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__text {
  text-align: center;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
